body {
    background-color: grey;
    color: whitesmoke;
}

#main_title {
    display: flex;
    justify-content: center;
    border: 2px solid white;

    margin-left: auto;
    margin-right: auto;
    width: 50%;

    border-radius: 8px;
    margin-bottom: 5%;
    box-shadow: -10px 5px;
}

h1 {
    margin-right: auto;
    margin-left: auto;
}

.data_locations {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 2px solid white;
    width: 30%;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    box-shadow: -10px 5px;
}

.main_div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 30%;
}

.item_div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 5% 0 5%;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: -10px 5px;
}

.data {
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1030px){
    .main_div {
        flex-direction: column;
        flex-wrap: wrap;
    }

     .item_div {
        justify-content: center;
        width: 10%;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .data_locations {
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;

    }

    #main_title {
        width: 40%;
    } 
}